/*>>>>>>>> Fonts / Poppins / Aeonik / <<<<<<<<<*/

/*>>>>>>>> Poppins <<<<<<<<<*/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

/*>>>>>>>> Common <<<<<<<<<*/

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}

/*>>>>>>>> Navbar <<<<<<<<<*/

.navbar {
  height: fit-content;
  width: 100%;
  margin: 57px 0px;
}
.navbar .container {
  position: relative;
}
.nav li {
  position: absolute;
  bottom: 0;
  right: 0;
}
.navbar li a {
  color: #3d3d3d;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
}
.navbar li a p {
  margin: 0;
}

/*>>>>>>>> body <<<<<<<<<*/

.banner {
  position: relative;
  height: 474px;
  width: 100%;
  background: #84d3e4;
  border-radius: 50px;
}
.banner {
  position: relative;
  height: 474px;
  width: 100%;
  background: #84d3e4;
  border-radius: 50px;
}
.banner .--vector-- {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.banner .--profile-- {
  position: absolute;
  left: 9%;
  bottom: 0%;
}
.banner .--text-- {
  position: absolute;
  top: 25%;
  right: 5%;
}
.banner .--text-- h1 {
  font-size: 35px;
  color: #21396c;
  font-weight: bold;
  text-align: center;
}
.banner .--text-- h1 span {
  background: #f58b76;
}
.text--contant {
  padding: 40px 10px;
  padding-bottom: 25px;
  text-align: center;
}
.text--contant p {
  font-size: 17px;
  font-weight: 600;
  color: #21396c;
}
.wrap--text {
  position: relative;
  height: fit-content;
  width: 100%;
  background: rgb(255, 153, 102, 0.2);
  border-radius: 50px;
  padding: 20px 30px;
  text-align: center;
}
.wrap--text img {
  position: relative;
  width: 100%;
}
.wrap--text .text-area {
  padding: 50px 10px;
  padding-bottom: 40px;
}
.wrap--text .text-area p {
  font-size: 17px;
  font-weight: 600;
  color: #21396c;
}
.wrap--text--2 {
  position: relative;
  height: fit-content;
  width: 100%;
  border: 2px solid rgb(255, 153, 102, 0.2);
  border-radius: 50px;
  padding: 20px 30px;
  text-align: center;
  margin: 20px 0px;
  margin-bottom: 40px;
}
.wrap--text--2 .left--corner {
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px;
}
.wrap--text--2 .right--corner {
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px;
}
.wrap--text--2 h1 {
  font-size: 30px;
  font-weight: 800;
  color: #21396c;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #21396c;
  padding: 30px;
}
.wrap--text--2 p {
  font-size: 17px;
  font-weight: 600;
  color: #21396c;
}

/*>>>>>>>> Footer <<<<<<<<<*/

footer {
  position: relative;
  width: 100%;
  padding: 50px 0px;
  background: #21396c;
}
footer .footer-content p {
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
footer .footer-content .on-mob {
  display: none;
}
.mini--footer {
  margin-top: 50px;
  width: 100%;
  display: flex;
}
.mini--footer .logo-image {
  width: 50%;
}
.mini--footer .social--icons {
  text-align: right;
  width: 50%;
}
.mini--footer .social--icons p {
  color: white;
  font-size: 20px;
}
.mini--footer .social--icons .icons {
  display: flex;
}
.mini--footer .social--icons .icons svg {
  display: flex;
  height: 35px;
  margin-left: 10px;
}

.mini--footer .social--icons .icons {
  float: right;
}

@media only screen and (max-width: 768px) {
  /*>>>>>>>> Body <<<<<<<<<*/

  .banner .--vector-- {
    top: 60%;
    width: 80%;
  }
  .banner .--profile-- {
    width: 48%;
  }
  .banner .--text-- {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 600px) {
  /*>>>>>>>> Common <<<<<<<<<*/

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .container {
    padding: 0px 12px;
  }
  .navbar {
    margin: 40px 0px;
  }
  .logo {
    height: 66px;
  }
  .navbar li {
    right: 12px;
  }
  .navbar li a {
    font-size: 12px;
  }

  /*>>>>>>>> Body <<<<<<<<<*/

  .banner {
    height: 468px;
  }
  .banner .--vector-- {
    top: 55%;
    width: 80%;
  }
  .banner .--profile-- {
    width: 65%;
  }
  .banner .--text-- {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner .--text-- h1 {
    font-size: 20px;
    color: #21396c;
    font-weight: bold;
    text-align: center;
  }
  .wrap--text .text-area {
    padding: 40px 10px;
    padding-bottom: 30px;
  }
  .wrap--text--2 .left--corner {
    padding: 20px;
    width: 18%;
  }
  .wrap--text--2 .right--corner {
    padding: 20px;
    width: 18%;
  }
  .wrap--text--2 h1 {
    font-size: 22px;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 40px;
  }
  .wrap--text--2 h1 br {
    display: block;
  }

  /*>>>>>>>> Footer <<<<<<<<<*/

  .mini--footer {
    display: none;
  }
  footer .footer-content .on-mob {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .banner .--profile-- {
    width: 75%;
  }
}
